<header>
    <dx-toolbar class="header-toolbar">
        <div class="row">
            <div class="col-2">
                    <dxi-item
                    *ngIf="menuToggleEnabled"
                    location="after"
                    widget="dxButton"
                    cssClass="menu-button"
                    [options]="{
                        icon: 'menu',
                        stylingMode: 'text',
                        onClick: toggleMenu
                    }">
                </dxi-item>
                <dxi-item
                    location="before"
                    cssClass="header-title"
                    *ngIf="title"
                    [text]="title">
                </dxi-item>
            </div>


            <div class="col-2 d-none">
                    <dxi-item
                    location="before"
                    locateInMenu="auto"
                    menuItemTemplate="menuItem">
                    <div *dxTemplate="let data of 'item'">
                        <dx-button
                            class="user-button authorization"
                            width="170px"
                            height="100%"
                            stylingMode="text">
                            <div *dxTemplate="let data of 'content'">
                                <app-user-panel [menuItems]="userMenuItems" menuMode="context"></app-user-panel>
                            </div>
                        </dx-button>
                    </div>
                </dxi-item>
                <div *dxTemplate="let data of 'menuItem'">
                    <app-user-panel [menuItems]="userMenuItems" menuMode="list"></app-user-panel>
                </div>
            </div>


            <div class="col-8">
                    <dxi-item
                    location="center"
                    cssClass="header-title">
                        <dx-text-box
                            #searchBox
                            class="header__txtsearch"
                            [showClearButton]="true"
                            (keyup.enter)="search(searchBox.value)"
                            placeholder="هرچه میخواهی را جستجو کن + دکمه اینتر را بزنید"
                            
                            >
                        </dx-text-box>

                        <!-- <ul [@openClose]="isOpen ? 'open' : 'closed'" class="search-result">
                            <li *ngFor="let resultItem of searchResult " >
                              <a (click)="onClickShowDetail(resultItem.id)">
                                {{ resultItem.name }}
                              </a>
                            </li>
                        </ul> -->

                        <!-- <dx-button class="header__btnsearch" [stylingMode]="text" [type]="normal" (onClick)="onClickSearch(query_search)">
                                <i class="dx-icon dx-icon-search"></i>
                            </dx-button> -->
                </dxi-item>
            </div>
        </div>
    
    </dx-toolbar>
</header>
