<header>
    <dx-toolbar class="header-toolbar container-fluid">
        <div class="row">
            <div class="col-2">
                    <!-- <dxi-item
                    text="منو">
                </dxi-item> -->
                    <dxi-item
                    *ngIf="menuToggleEnabled"
                    location="center"
                    widget="dxButton"
                    cssClass="menu-button"
                    [options]="{
                        icon: 'menu',
                        stylingMode: 'text',
                        onClick: toggleMenu
                    }"> 
                </dxi-item>
                

            </div>

<!-- 
            <div class="col-2 d-none">
                    <dxi-item
                    location="before"
                    locateInMenu="auto"
                    menuItemTemplate="menuItem">
                    <div *dxTemplate="let data of 'item'">
                        <dx-button
                            class="user-button authorization"
                            width="170px"
                            height="100%"
                            stylingMode="text">
                            <div *dxTemplate="let data of 'content'">
                                <app-user-panel [menuItems]="userMenuItems" menuMode="context"></app-user-panel>
                            </div>
                        </dx-button>
                    </div>
                </dxi-item>
                <div *dxTemplate="let data of 'menuItem'">
                    <app-user-panel [menuItems]="userMenuItems" menuMode="list"></app-user-panel>
                </div>
            </div> -->
                <img src="../../../../assets/images/Cushy_Logo.png" width="50" />


            <div class="col-10">
                    <dxi-item
                    location="center"
                    cssClass="header-title">
                        <dx-text-box
                            #searchBox
                            class="header__txtsearch"
                            [showClearButton]="true"
                            (keyup.enter)="search(searchBox.value)"
                            placeholder="به دنبال چه هستی؟"
                            
                            >
                        </dx-text-box>

                        <!-- <ul [@openClose]="isOpen ? 'open' : 'closed'" class="search-result">
                            <li *ngFor="let resultItem of searchResult " >
                              <a (click)="onClickShowDetail(resultItem.id)">
                                {{ resultItem.name }}
                              </a>
                            </li>
                        </ul> -->

                        <!-- <dx-button class="header__btnsearch" [stylingMode]="text" [type]="normal" (onClick)="onClickSearch(query_search)">
                                <i class="dx-icon dx-icon-search"></i>
                            </dx-button> -->
                </dxi-item>
            </div>
            

        </div>

    </dx-toolbar>
</header>

