@import "../../../../themes/generated/variables.base.scss";
@import "../../../../dx-styles.scss";
@import "../../../../themes/colors.scss";

:host {
  flex: 0 0 auto;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  ::ng-deep .dx-toolbar .dx-toolbar-item.menu-button>.dx-toolbar-item-content .dx-icon {
    color: $base-accent;
  }
}
::ng-deep .dx-toolbar {
  background-color: #4890EE;
  color: rgba(255, 255, 255, 0.87);
}
::ng-deep .user-info .user-name {
  color: rgba(255, 255, 255, 0.95) !important;
}
::ng-deep .dx-toolbar .dx-icon {
  color: #fff !important;
  font-size: 25px;
}

::ng-deep .dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px;

  :host-context(.screen-x-small) & {
    padding: 0 20px;
  }
}

::ng-deep .dx-toolbar .dx-toolbar-item.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
}

::ng-deep .header-title .dx-item-content {
  padding: 0;
  margin: 0;
  position: relative;
}

:host-context(.dx-theme-generic) {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button>.dx-button-content {
    padding: 3px;
  }
}

/*-------SAeeD--24/3/2019------*/

::ng-deep .header__txtsearch{
  width: 500px !important;
  height: 50px !important;
  margin: 13px 0 0 0;
  @media screen and (max-width: 800px) {
    width: 300px !important;
    height: 50px !important;
    
  }
  @media screen and (max-width: 430px) {
    width: 170% !important;
    height: 50px !important;
  }
}
@media screen and (max-width: 430px) {
  ::ng-deep .dx-device-mobile .dx-toolbar .dx-toolbar-menu-container{
    display: none !important;
  }
  ::ng-deep .dx-toolbar-center{
    margin: 0 0 0 6% !important;
  }
}
::ng-deep .header__txtsearch .dx-texteditor-input {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 11px !important; 
  transition: ease 0.25s;
}
::ng-deep .header__txtsearch.dx-state-focused {
  background-color: rgba(255, 255, 255, 0.90);
}
::ng-deep .header__txtsearch.dx-state-focused .dx-placeholder, 
::ng-deep .header__txtsearch.dx-state-focused.dx-show-clear-button .dx-texteditor-input {
  color: rgba(0, 0, 0, 0.73) !important;
}

::ng-deep .header__txtsearch {

  .dx-icon{
    font-size: 17px;
  }
  .dx-placeholder {
    color: rgba(255, 255, 255, 0.73);
    right: 0;
    left: unset;
    padding: 0 11px;
  }
  input.dx-texteditor-input{
    font-family: yekan-r;
    letter-spacing: 0.6px;
  }
}

::ng-deep .dx-texteditor.dx-editor-underlined.dx-show-clear-button .dx-texteditor-input {
  text-align: right;
  color: #fff;
}
::ng-deep .dx-texteditor.dx-editor-underlined .dx-texteditor-buttons-container {
  left: 0;
  right: unset;
  margin: 0 5px;
}

::ng-deep .header__btnsearch{
  position: absolute;
  left: -49px;
  top: 0;
  height: 49px;
  background-color: rgba(255, 255, 255, 0.23);

  i{
    padding: 6px !important;
  }
  :hover, :active, :focus{
    background-color: $cushy_green !important;
  }
}

/*---Search-Box---*/
.search-result li {
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
.search-result li:last-child {
  border-radius: 0 0 10px 10px;
}

.search-result li:hover {
  background-color: $cushy_yellow;
  color: white;
}

.search-result li a {
  color: $cushy_green;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: $cushy_blue;
}
.search-result li a:active {
  color: $cushy_blue;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}