<jobs-list-base *ngIf="showJobList; else noJobList">
<div class="mt-4 px-lg-2 px-sm-2 rtl" >
    <div class="row job_list__head">
        <div class="col-xs-12 col-sm-7 col-md-9"><h1> لیست مشاغل و اصناف <sub>(تعداد کل: {{ JobLists_All?.totalItems }} )</sub></h1></div>
        <div class="col-xs-12 col-sm-5 col-md-3 text-right job_list__back">
          <dx-button 
              (click)="onClickMovePagesJob(JobLists_All.previousPageNumber)"
               >
              <i class="dx-icon dx-icon-arrowright"></i></dx-button>
          <span>صفحه {{ JobLists_All?.pageNumber }}&nbsp; از &nbsp;{{ JobLists_All?.totalPages }}</span>
          <dx-button 
              (click)="onClickMovePagesJob(JobLists_All.nextPageNumber)">
              <i class="dx-icon dx-icon-arrowleft"></i></dx-button>
        </div>
      </div>

      <div *ngIf="isLoading" class="text-center mt-5">
            <cushy-loading  [loadingMsg]="'لطفا کمی صبر کنید ...'"></cushy-loading>
        </div>
        
  <div class="row">
        <div  
            *ngFor="let jobList_Item of JobLists_list"
            class="col-6 col-sm-4 col-md-4 col-lg-3"
              >
              <div class="dx-card responsive-paddings mb-3 job_list__item">
                 <a 
                    [routerLink]="[ '/job', jobList_Item.id ]"
                    >
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7">
                            <img src="http://cushy.ir/images/job/{{ jobList_Item.picId }}_small.jpg" alt="تصویر مشاغل کوشی" title="{{ jobList_Item.name }}" width="146" height="146">
                        </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 text-left mt-2 job_list__title">
                        
                             <h3>{{ jobList_Item.name }}</h3>
                            
                             <div class="job_list__voting">
                                <div class="job_list__stars" [innerHTML]="rate_JobList"></div>
                              </div>
                    </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</jobs-list-base>


<ng-template #noJobList>
    <div class="text-center mt-5 px-lg-2 px-sm-2 rtl">
        <cushy-no-found-data [msg]="'مقداری برای نمایش وجود ندارد'" ></cushy-no-found-data>
    </div>
</ng-template>
    
