<div class="mt-4 px-lg-2 px-sm-2 ">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="dx-card responsive-paddings mb-3 job_list__item">
                <div class="row">
                  <div class="col-5 text-right mt-4 job_list__title">
                      <h3>نام شغل شسیشسیش سیشسیش یش س یشس شسی شس</h3>
                      <div class="job_list__voting">
                         <i class="dx-icon-favorites"></i>
                         <i class="dx-icon-favorites"></i>
                         <i class="dx-icon-favorites"></i>
                         <i class="dx-icon-favorites"></i>
                         <i class="dx-icon-favorites"></i>
                      </div>
                  </div>
                  <div class="col-7">
                      <img src="../../../../assets/images/Small-cushy@1x.jpg" alt="تصویر مشاغل کوشی" title="تصویر مشاغل کوشی" width="250" height="250">
                  </div>
                </div>

              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="dx-card responsive-paddings mb-3 job_list__item">
              <div class="row">
                <div class="col-5 text-right mt-4 job_list__title">
                    <h3>نام شغل شسیشسیش سیشسیش یش س یشس شسی شس</h3>
                    <div class="job_list__voting">
                       <i class="dx-icon-favorites"></i>
                       <i class="dx-icon-favorites"></i>
                       <i class="dx-icon-favorites"></i>
                       <i class="dx-icon-favorites"></i>
                       <i class="dx-icon-favorites"></i>
                    </div>
                </div>
                <div class="col-7">
                    <img src="../../../../assets/images/Small-cushy@1x.jpg" alt="تصویر مشاغل کوشی" title="تصویر مشاغل کوشی" width="250" height="250">
                </div>
              </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="dx-card responsive-paddings mb-3 job_list__item">
            <div class="row">
              <div class="col-5 text-right mt-4 job_list__title">
                  <h3>نام شغل شسیشسیش سیشسیش یش س یشس شسی شس</h3>
                  <div class="job_list__voting">
                     <i class="dx-icon-favorites"></i>
                     <i class="dx-icon-favorites"></i>
                     <i class="dx-icon-favorites"></i>
                     <i class="dx-icon-favorites"></i>
                     <i class="dx-icon-favorites"></i>
                  </div>
              </div>
              <div class="col-7">
                  <img src="../../../../assets/images/Small-cushy@1x.jpg" alt="تصویر مشاغل کوشی" title="تصویر مشاغل کوشی" width="250" height="250">
              </div>
            </div>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="dx-card responsive-paddings mb-3 job_list__item">
              <div class="row">
                <div class="col-5 text-right mt-4 job_list__title">
                    <h3>نام شغل شسیشسیش سیشسیش یش س یشس شسی شس</h3>
                    <div class="job_list__voting">
                      <i class="dx-icon-favorites"></i>
                      <i class="dx-icon-favorites"></i>
                      <i class="dx-icon-favorites"></i>
                      <i class="dx-icon-favorites"></i>
                      <i class="dx-icon-favorites"></i>
                    </div>
                </div>
                <div class="col-7">
                    <img src="../../../../assets/images/Small-cushy@1x.jpg" alt="تصویر مشاغل کوشی" title="تصویر مشاغل کوشی" width="250" height="250">
                </div>
              </div>

            </div>
        </div>
    </div>
</div>