<div class="mt-4 px-lg-2 px-sm-2 rtl">
          <div class="row">
              <div class="col-12">
                    <div class="dx-card responsive-paddings mb-3 job_detail__item">
                        <div class="job_detail__slider col-6 offset-4">
                            <dx-gallery
                                [dataSource]="gallerySource"
                                [height]="300"
                                [width]="400"
                                [loop]="true"
                                [showNavButtons]="true"
                                [showIndicator]="true">
                            </dx-gallery>
                        </div>
                    </div>

      
                      <div class="job_detail__desc dx-card responsive-paddings mb-3">
                        <p>
                          توضیحاتی در مورد این شغل
                        </p>
                      </div>
              </div>
          </div>
      </div>