@import "../../../../themes/colors.scss";

.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

/*-------SAeeD------*/
.home_head__title{
  margin: 30px 0 0 0;
  padding: 0 10px;
  font-weight: 700;
}
:host-context(.screen-x-small) .home_slider__item {
  dx-gallery{
    width: 100% !important;
  }
}
.home_slider__item dx-gallery{ 
  direction: ltr !important;
  margin: 0 auto;
}
.home_slider__img{
   width: 100%;
   border-radius: 7px;
  }
::ng-deep .home_top__carousel{
  .dx-gallery-item{
    margin-left: 2.2805% !important;
  }
  dx-gallery{ 
    direction: ltr !important;
  }
  .home_caroucel__title{
    font-size: 22px !important;
    padding: 10px 4px 0 4px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    color: $cushy_blue !important;
  }
}

::ng-deep .home_new__carousel{
  .dx-gallery-item{
    margin-left: 2.2805% !important;
  }
  dx-gallery{ 
    direction: ltr !important;
  }
  .home_caroucel__title{
    font-size: 22px !important;
    padding: 10px 4px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 99%;
    direction: rtl;
    text-align: center;
    color: $cushy_blue !important;
  }
  :host-context(.screen-x-small) .home_caroucel__title{
    font-size: 17px !important;
  }
}


