@import "../../../../themes/colors.scss";

.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

/*-------SAeeD------*/
.home_head__title{
  margin: 30px 0 0 0;
  padding: 0 10px;
  font-weight: 700;
}
:host-context(.screen-x-small) .home_slider__item {
  dx-gallery{
    width: 100% !important;
  }
}
.home_slider__item dx-gallery{ 
  direction: ltr !important;
  margin: 0 auto;
}
.home_slider__img{
   width: 100%;
   border-radius: 7px;
  }
::ng-deep .home_top__carousel{
  .dx-gallery-item{
    margin-left: 0 !important;
  }
  dx-gallery{ 
    direction: ltr !important;
  }
  .home_slider__img {
    width: 80% !important;
  }
  .home_caroucel__title{
    font-size: 18px !important;
    padding: 10px 4px 0 4px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    color: $cushy_blue !important;
    direction: rtl;
    text-align: center;
  }
}


::ng-deep .home_new__carousel{
  .dx-gallery-item{
    margin-left: 0.1005% !important;
  }
  dx-gallery{ 
    direction: ltr !important;
  }
  .home_slider__img {
    width: 80% !important;
  }
  .home_caroucel__title{
    font-size: 18px !important;
    padding: 10px 4px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 99%;
    direction: rtl;
    text-align: center;
    color: $cushy_blue !important;
  }
  :host-context(.screen-x-small) .home_caroucel__title{
    font-size: 13px !important;
  }
}
::ng-deep .home_new__carousel .dx-gallery .dx-gallery-nav-button-next,
::ng-deep .home_new__carousel .dx-gallery .dx-gallery-nav-button-prev,
::ng-deep .home_top__carousel .dx-gallery .dx-gallery-nav-button-next,
::ng-deep .home_top__carousel .dx-gallery .dx-gallery-nav-button-prev {
  width: 6%!important;
  background-color: rgba(255, 255, 255, 0.72) !important;
  box-shadow: 0px -1px 12px -5px #222;
}

@media screen and (max-width: 430px) {

  ::ng-deep .dx-theme-material-typography h3{
  font-size: 26px !important;
  }
  ::ng-deep .home_top__carousel .home_slider__img, ::ng-deep .home_new__carousel .home_slider__img {
    width: 50% !important;
  }
  ::ng-deep .home_top__carousel .dx-gallery-item, ::ng-deep .home_new__carousel .dx-gallery-item{
    margin-left: -19% !important;
  }
  ::ng-deep .home_new__carousel .dx-gallery .dx-gallery-nav-button-next,
  ::ng-deep .home_new__carousel .dx-gallery .dx-gallery-nav-button-prev,
  ::ng-deep .home_top__carousel .dx-gallery .dx-gallery-nav-button-next,
  ::ng-deep .home_top__carousel .dx-gallery .dx-gallery-nav-button-prev {
  width: 10% !important;
}

}