<div class="mt-4 px-lg-2 px-sm-2 rtl">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-9"><h1> نتایج جستجو مشاغل</h1></div>
        <div class="col-xs-12 col-sm-5 col-md-3 text-right job_list__back">
          <dx-button 
              (click)="onClickPagesJobs(searchResult.previousPageNumber)" ><i class="dx-icon dx-icon-arrowright"></i></dx-button>
          <span>صفحه {{ 'searchResult.pageNumber' }}&nbsp; از &nbsp;{{ 'searchResult.totalPages'}}</span>
          <dx-button 
              (click)="onClickPagesJobs(searchResult.nextPageNumber)"><i class="dx-icon dx-icon-arrowleft"></i></dx-button>
        </div>
      </div>
  <div class="row">
        <div  
            *ngFor="let listItem of searchResult"
            class="col-xs-12 col-sm-4 col-md-3 col-lg-3"
              >
              <div class="dx-card responsive-paddings mb-3 job_list__item">
                <div class="row">
                    <div class="col-7">
                        <img src="../../../../assets/images/Small-cushy@1x.jpg" alt="تصویر مشاغل کوشی" title="تصویر مشاغل کوشی" width="250" height="250">
                    </div>
                  <div class="col-5 text-left mt-4 job_list__title">
                      <a 
                            [routerLink]="[ '/job-detail', jobList.id ]">
                            <h3>{{ 'listItem.name' }}</h3>
                        </a>
                      <div class="job_list__voting">
                         <i *ngFor="let itemVote of jobList.rate"
                            class="dx-icon-favorites"></i>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>