$cushy_blue : #4794EF;
$cushy_red : #D24840;
$cushy_green : #289B5E;
$cushy_yellow : #F4CA50;

$cushy_light1 : #F7F7F7;
$cushy_lightaaa : #aaa;

$cushy_dark777 : #777;
$cushy_dark555 : #555;
$cushy_dark333 : #333;
$cushy_dark2 : #515159;
