<footer>
<div class="row rtl">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <p class="cushy_about">
                    اپلیکیشن کوشی برای دسترسی سریع و آسان شما دوستان عزیز به خدمات، اماکن و اصناف شهر خود
                    طراحی گردیده است. دسترسی به تمامی اطلاعات شهرتان تنها با یک جستجوی ساده امکان پذیر است.
                </p>
            </div>
            <div class="col-12 col-sm-5 col-md-5 col-lg-5 offset-1 d-none d-sm-block ">
                <div class="cushy_contact text-center">
                    <address>اصفهان ، مبارکه</address>
                    <div>موبایل (تلگرام): 09333744519</div>
                    <div> ایمیل: info@cushy.ir</div>
                    <div> وب سایت: www.Cushy.ir</div>

                </div>    
            </div>
            
        </div>
        
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3 cushy_links">
        <ul>
            <li><a [routerLink]="[ '/' ]">صفحه اصلی</a></li>
            <li><a [routerLink]="[ '/jobs-list' ]">مشاغل شهر </a></li>
            <li><a [routerLink]="[ '/category' ]">دسته بندی ها</a></li>
            <li><a [routerLink]="[ '/help' ]">آموزش اپلیکیشن</a></li>
            <li><a [routerLink]="[ '/about-us' ]">درباره ما</a></li>
        </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="cushy_socials">
            <h4>کوشی را در شبکه های اجتماعی دنبال کنید</h4>
            <a href="https://t.me/cushyapp" title="تلگرام کوشی" target="_blank">
                 <img src="../../../assets/images/cushy-telegram-app-64.png" alt="تلگرام برنامه مشاغل کوشی" width="64" height="64">
            </a>
            <a href="https://instagram.com/cushy_ir" title="اینستاگرام کوشی" target="_blank">
                 <img src="../../../assets/images/cushy-instagram-64.png" alt="اینستاگرام برنامه مشاغل کوشی" width="64" height="64">
            </a>
            <a href="https://www.aparat.com/kooshy.ir" title="آپارات کوشی" target="_blank">
                 <img src="../../../assets/images/cushy_aparat_icon_color_black_64.png" alt="آپارات برنامه مشاغل کوشی" width="64" height="64">
            </a>
       </div>
    </div>
</div>

<div class="content-block text-center cushy_copyright">
    تمامی حقوق این سایت متعلق به <a [routerLink]="[ '/' ]" title="اپلیکیشن مسیریابی و جستجوی مشاغل کوشی">اپلیکیشن کوشی</a> می باشد | {{ date }} &copy;
    <br>
    <div class="atashsoft">
        <img src="../../../assets/images/atashSoft_logo-64.png" width="11" alt="گروه نرم افزاری آتش">
        طراحی شده توسط <a href="http://atashsoft.ir/" title="گروه طراحی و برنامه نویسی آتش سافت" target="_blank">گروه نرم افزاری آتش</a>
    </div>
    
    
</div>
</footer>