<div class="mt-4 px-lg-2 px-sm-2 rtl">
    <h2 class="job_detail__title">کاربراتوری استاد رشید</h2>
    <div class="row">
        <div class="col-12">
              <div class="dx-card responsive-paddings mb-3 job_detail__item">
                  <div class="job_detail__slider col-6 offset-4">
                      <dx-gallery
                          [dataSource]="galleryDataSource"
                          [height]="300"
                          [width]="400"
                          [loop]="true"
                          [showNavButtons]="true"
                          [showIndicator]="true">
                      </dx-gallery>
                  </div>
                  <div class="job_detail__cats">
                    <h3><img src="../../../../assets/images/cushy-administrator-male-64.png" alt="آیکن کوشی" width="32" height="32"/> استاد رشید قنبری</h3>
                    <h3><img src="../../../../assets/images/cushy-opened-folder-64.png" alt="آیکن کوشی" width="32" height="32"/> کاربراتوری (تنظیم سوخت و جرقه)</h3>
                    <div class="job_detail__voting">
                        <i class="dx-icon dx-icon-favorites"></i>
                        <i class="dx-icon dx-icon-favorites"></i>
                        <i class="dx-icon dx-icon-favorites"></i>
                        <i class="dx-icon dx-icon-favorites"></i>
                        <i class="dx-icon dx-icon-favorites"></i>
                     </div>
                  </div>
              </div>
              <div class="job_detail__info dx-card responsive-paddings mb-3">
                <address><img src="../../../../assets/images/cushy-home-64.png" alt="آیکن کوشی" width="32" height="32"> بلوار نیکبخت - بعد از سشیشسیش شس یسی </address>
                <div><img src="../../../../assets/images/cushy-cell-phone-64.png" alt="آیکن کوشی" width="32" height="32"> 0913523652</div>
                <div><img src="../../../../assets/images/cushy-phone-64.png" alt="آیکن کوشی" width="32" height="32"> 0913987652</div>
              </div>
              <div class="job_detail__info dx-card responsive-paddings mb-3">
                  <div> <img src="../../../../assets/images/cushy-telegram-app-64.png" alt="آیکن کوشی" width="32" height="32"> Telegram</div>
                   <div> <img src="../../../../assets/images/cushy-telegram-app-64.png" alt="آیکن کوشی" width="32" height="32"> grop</div>
                   <div><img src="../../../../assets/images/cushy-instagram-64.png" alt="آیکن کوشی" width="32" height="32"> instagram</div>
                   <div><img src="../../../../assets/images/cushy-twitter-64.png" alt="آیکن کوشی" width="32" height="32"> twitter</div>
                   <div><img src="../../../../assets/images/cushy-website-64.png" alt="آیکن کوشی" width="32" height="32"> website</div>
                  <div> <img src="../../../../assets/images/cushy-gmail-64.png" alt="آیکن کوشی" width="32" height="32"> email</div>
                </div>

                <div class="job_detail__desc dx-card responsive-paddings mb-3">
                  <p>
                    توضیحاتی در مورد این شغل
                  </p>
                </div>
        </div>
    </div>
</div>