@import "../../../../themes/colors.scss";

.hide_JobItem{ display: none; }

::ng-deep .job_detail__slider {
    margin: 0 0 30px 0;
    img{
        border-radius: 8px;
        width: 100%;
    }
    dx-gallery{
        margin: auto;
    }
}
::ng-deep .job_detail__title{
    font-weight: 700 !important;
    color: $cushy_blue;
    padding: 0 20px 0 0;
    word-spacing: 4px;
}

::ng-deep .job_detail__cats h3{
    font-size: 25px !important;
    color: $cushy_dark2;
}
::ng-deep .job_detail__cats img, .job_detail__info img {
    margin: 0 0 12px 2%;
}
::ng-deep .job_detail__voting{
    display: inline;
    .job_detail__stars{
        display: inline;
    }
    i{
        color: $cushy_yellow;
    }
    b{
        margin: 0 15px 0 0;
        position: relative;
        top: -4px;
    }
}
::ng-deep .job_detail__info address, ::ng-deep .job_detail__info div {
    margin: 0;
    font-size: 20px;
    font-kerning: normal;
    word-spacing: 4px;
}
::ng-deep .job_detail__desc p{
    color: $cushy_green;
    font-size: 24px;
    font-weight: 600;
    word-spacing: 4px;
}
::ng-deep .job_detail__back {
    dx-button{
        cursor: pointer !important;
        margin: 0 0 0 14px;
        i{
            margin: 0 0 0 20px;
            font-size: 35px;
            color: $cushy_green !important
        }
    }
}

dx-map.dx-map {
    margin: 0 auto;

    ::ng-deep canvas#tileCanvasId {
        border-radius: 20px !important;
    }
}
.job_detail__routemap a {
    font-size: 19px;
    font-weight: 700;
    color: $cushy_blue;
}

@media screen and (max-width: 430px) {
    .job_detail__title {
        font-size: 22px !important;
        letter-spacing: 0.1px;
    }
    .job_detail__slider {
        dx-gallery{
          width: 100% !important;
          height: 100% !important;
        }
    }
    .job_detail__cats h3 {
        font-size: 17px !important;
    }
    .job_detail__info address, .job_detail__info div{
        font-size: 16px;
        word-spacing: 2px;
    }
    .job_detail__desc p {
        font-size: 18px;
        word-spacing: 2px;
    }
}