@import "../../../../themes/colors.scss";

:host-context(.screen-x-small) .job_detail__slider {
    dx-gallery{
      width: 100% !important;
      height: 200px !important;
    }
}
::ng-deep .job_detail__slider {
    margin: 0 0 30px 0;
    img{
        border-radius: 8px;
    }
}
::ng-deep .job_detail__title{
    font-weight: 700 !important;
    color: $cushy_blue;
    padding: 0 20px 0 0;
    word-spacing: 4px;
}

::ng-deep .job_detail__cats h3{
    font-size: 25px !important;
    color: $cushy_dark2;
}
::ng-deep .job_detail__cats img, .job_detail__info img {
    margin: 0 0 12px 2%;
}
::ng-deep .job_detail__voting{
    display: inline;
    .job_detail__stars{
        display: inline;
    }
    i{
        color: $cushy_yellow;
    }
    b{
        margin: 0 15px 0 0;
        position: relative;
        top: -4px;
    }
}
::ng-deep .job_detail__info address, ::ng-deep .job_detail__info div {
    margin: 0;
    font-size: 20px;
    font-kerning: normal;
    word-spacing: 4px;
}
::ng-deep .job_detail__desc p{
    color: $cushy_green;
    font-size: 24px;
    font-weight: 600;
    word-spacing: 4px;
}
::ng-deep .job_detail__back {
    dx-button{
        cursor: pointer !important;
        margin: 0 0 0 14px;
        i{
            margin: 0 0 0 20px;
            font-size: 35px;
            color: $cushy_green !important
        }
    }
}
