<div class="mt-4 px-lg-2 px-sm-2 rtl" *ngIf="DataFound==true; else noDataFoundd">

    <div *ngIf="isLoading" class="text-center mt-5">
        <cushy-loading  [loadingMsg]="'لطفا کمی صبر کنید ...'"></cushy-loading>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-9"><h1 class="job_detail__title">  {{ name_JobDetail }} </h1></div>
        <div class="col-xs-12 col-sm-5 col-md-3 text-right job_detail__back">
          <dx-button 
              (click)="onClickBackToJobList()" >
              <i class="dx-icon dx-icon-arrowleft"></i></dx-button>
        </div>
      </div>
    <div class="row">
        <div class="col-12">
              <div class="dx-card responsive-paddings mb-3 job_detail__item">
                  <div class="job_detail__slider">
                      <dx-gallery
                          [dataSource]="galleryJobDetail"
                          [slideshowDelay]="3000"
                          [animationDuration]="500"
                          height="100%"
                          width="50%"
                          [loop]="true"
                          [swipeEnabled]="true"
                          [stretchImages]="false"
                          [showNavButtons]="true"
                          [showIndicator]="true">
                          <div *dxTemplate="let Item of 'item'">
                              <div>
                                <img src="http://cushy.ir{{ Item }}" alt="{{ jobDetail?.name }}" title="{{ jobDetail?.name }}"/>
                              </div>
                          </div>
                      </dx-gallery>
                  </div>
                  <div class="job_detail__cats">
                    <h3><img src="../../../../assets/images/cushy-administrator-male-64.png" alt="آیکن کوشی" width="32" height="32"/> {{ jobDetail?.firstName }}&nbsp;{{ jobDetail?.lastName }}</h3>
                    <h3><img src="../../../../assets/images/cushy-opened-folder-64.png" alt="آیکن کوشی" width="32" height="32"/> {{ jobDetail?.category }}</h3>
                    <img src="../../../../assets/images/cushy-best-seller-64.png" alt="آیکن کوشی" width="32" height="32"/> 
                    <div class="job_detail__voting">
                      <div class="job_detail__stars" [innerHTML]="rate_JobDetail"></div>
                      <b>( {{rateId_JobDetail}} ستاره )</b> 
                    </div>
                    <div class="job_detail__routemap">
                        <img src="../../../../assets/images/cushy-map-64.png" alt="آیکن کوشی" width="32" height="32"/> <a href="https://www.google.com/maps?q=loc:{{ latitude_JobDetail }},{{ longitude_JobDetail }}" target="_blank" title="{{ name_JobDetail }}" >مسیریابی در گوگل</a>
                    </div>
                    

                  </div>
<!-- 
                  <dx-map 
                    provider="bing"
                    [key]="bingKeyMap"
                    [type]="bingMapType"
                    [zoom]="16" 
                    [height]="300" 
                    width="95%" 
                    [controls]="true" 
                    [autoAdjust]="true"
                    markerIconSrc="'bingMapIconUrl'"
                    [center]="{ lat: latitude_JobDetail, lng: longitude_JobDetail }">
                </dx-map> -->

              </div>
              <div class="job_detail__info dx-card responsive-paddings mb-3">
                <address [class.hide_JobItem]="jobDetail?.address === null"><img src="../../../../assets/images/cushy-home-64.png" alt="آیکن کوشی" width="32" height="32"> {{ jobDetail?.address }} </address>
                <div [class.hide_JobItem]="jobDetail?.mobile === null"><img src="../../../../assets/images/cushy-cell-phone-64.png" alt="آیکن کوشی" width="32" height="32"> {{ jobDetail?.mobile }}</div>
                <div [class.hide_JobItem]="jobDetail?.phone === null"><img src="../../../../assets/images/cushy-phone-64.png" alt="آیکن کوشی" width="32" height="32"> {{ jobDetail?.phone }}</div>
              </div>
              <div class="job_detail__info dx-card responsive-paddings mb-3" 
                   [class.hide_JobItem]="jobDetail?.telegramChannel === null && jobDetail?.telegramGroup === null && jobDetail?.website === null && jobDetail?.instagram === null && jobDetail?.twitter === null && jobDetail?.mail === null">
                   <div [class.hide_JobItem]="jobDetail?.telegramChannel === null"> <img src="../../../../assets/images/cushy-telegram-app-64.png" alt="آیکن کوشی" width="32" height="32"><a href="http://t.me/{{ jobDetail?.telegramChannel }}" rel="nofollow" target="_blank">{{ jobDetail?.telegramChannel }}</a></div>
                   <div [class.hide_JobItem]="jobDetail?.telegramGroup === null"> <img src="../../../../assets/images/cushy-telegram-app-64.png" alt="آیکن کوشی" width="32" height="32"> <a href="http://t.me/{{ jobDetail?.telegramGroup }}" rel="nofollow" target="_blank"> {{ jobDetail?.telegramGroup }}</a></div>
                   <div [class.hide_JobItem]="jobDetail?.instagram === null"> <img src="../../../../assets/images/cushy-instagram-64.png" alt="آیکن کوشی" width="32" height="32"> <a href="http://instagram.com/{{ jobDetail?.instagram }}" rel="nofollow" target="_blank">{{ jobDetail?.instagram }}</a></div>
                   <div [class.hide_JobItem]="jobDetail?.twitter === null"> <img src="../../../../assets/images/cushy-twitter-64.png" alt="آیکن کوشی" width="32" height="32"> <a href="http://t.com/{{ jobDetail?.twitter }}" rel="nofollow" target="_blank">{{ jobDetail?.twitter }}</a></div>
                   <div [class.hide_JobItem]="jobDetail?.website === null"> <img src="../../../../assets/images/cushy-website-64.png" alt="آیکن کوشی" width="32" height="32"> <a href="http://{{ jobDetail?.website }}"  rel="nofollow" target="_blank">{{ jobDetail?.website }}</a></div>
                   <div [class.hide_JobItem]="jobDetail?.mail === null"> <img src="../../../../assets/images/cushy-gmail-64.png" alt="آیکن کوشی" width="32" height="32"> <a href="mailto:{{ jobDetail?.mail }}" rel="nofollow" target="_blank">{{ jobDetail?.mail }}</a></div>
                </div>

                <div class="job_detail__desc dx-card responsive-paddings mb-3" [class.hide_JobItem]="jobDetail?.description === null">
                  <p>
                    {{ jobDetail?.description }}
                  </p>
                </div>
        </div>
    </div>
</div>

<ng-template #noDataFoundd>
  <div class="text-center mt-4 px-lg-2 px-sm-2 rtl">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <cushy-no-found-data></cushy-no-found-data>
          <h3>{{ noDataFoundNow }}</h3>
        <dx-button [routerLink]="[ '/jobs-list' ]" text="مشاهده لیست مشاغل" ></dx-button> &nbsp;
        <dx-button [routerLink]="[ '/category' ]" text="مشاهده دسته بندی مشاغل" ></dx-button> &nbsp;
        <dx-button [routerLink]="[ '/about-us' ]" text="درباره ما" ></dx-button> &nbsp;
      </div>
    </div>
  </div>
</ng-template>
