<div class="mt-4 px-lg-2 px-sm-2 rtl">
     <div class="row">
          <div class="col-12">
             <div class="dx-card responsive-paddings mb-3">


          <div class="row cushy_about__bio">
          <div class="col-xs-12 col-sm-12 col-md-4">
               <div class="cushy_about__logo text-center">
                    <img src="../../../assets/images/Cushy_Logo.png" alt="cushy application logo" title="اپلیکیشن کوشی" width="200" height="200">
               </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8">
               <h2> اپلیکیشن کوشی </h2> 
               <h5>معرفی </h5>
               <p>
                    کوشی اپلیکیشنی متفاوت برای تلفن های هوشمند است که با هدف دسترسی سریع و آسان کاربران به خدمات
                    ،اماکن و اصناف اطراف خود طراحی شده و روز به روز بر کاربران و اطلاعات آن افزوده می شود.
                    کلمه کوشی به معنای کجایی می باشد و این اپلیکیشن با تلاش تیم فنی و ایده پردازی خلاق و
                    مجرب پیاده سازی و منتشر شده است. این اپلیکیشن در نسخه آزمایشی منتشر شده است. 
               </p>
               <h4>Cushy = Easy, Comfortable, Secure, Soft, EasyGoing 👌</h4>
          </div>
          </div>

                     
          <div class="cushy_about__facilities">
               <h3>امکانات</h3>
               <div class="row text-center">
                    <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                         <img src="../../../assets/images/cushy-map-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                         <h2>مشاهده تمامی مشاغل روی نقشه</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                         <img src="../../../assets/images/cushy-contacts-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                              <h2>دسترسی آسان به آدرس و شماره مقصد</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                         <img src="../../../assets/images/cushy-profile-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                              <h2>هر شغل دارای صفحه شخصی می باشد</h2>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                              <img src="../../../assets/images/cushy-search-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                              <h2>جستجوی پیشرفته</h2>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                              <img src="../../../assets/images/cushy-find-user-male-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                              <h2>جستجوی سریع خدمات، اماکن و اصناف شهر</h2>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                              <img src="../../../assets/images/cushy-rating-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                              <h2>رتبه دهی مشاغل</h2>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                              <img src="../../../assets/images/cushy-route-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                              <h2>دارای مسیریابی هوشمند</h2>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-3 about_facilities__item">
                              <img src="../../../assets/images/cushy-best-seller-64.png" alt="برنامه مسیریابی مشاغل کوشی" width="50" height="50">
                              <h2> برترین مشاغل</h2>
                         </div>
               </div>
          </div>


           <div class="cushy_about__contact">
               <h3> راه های ارتباطی </h3>
               <div class="row">
                    <div class="col-xs-12 col-md-6">
                         <div class="cushy_contact__phone text-center">
                              <address>اصفهان ، مبارکه</address>
                              <div>موبایل: 09333744519</div>
                              <div> ایمیل: info@cushy.ir</div>
                         </div>
                    </div>
                    <div class="col-xs-12 col-md-6 cushy_contact__social">
                         <a href="https://t.me/cushyapp" title="تلگرام کوشی">
                              <img src="../../../assets/images/cushy-telegram-app-64.png" alt="تلگرام برنامه مشاغل کوشی" width="50" height="50">
                         </a>
                         <a href="https://instagram.com/cushy_ir" title="اینستاگرام کوشی">
                              <img src="../../../assets/images/cushy-instagram-64.png" alt="اینستاگرام برنامه مشاغل کوشی" width="50" height="50">
                         </a>
                         <a href="https://dribbble.com/cushy" title="دریبل کوشی">
                              <img src="../../../assets/images/cushy-dribbble-64.png" alt="دریبل برنامه مشاغل کوشی" width="50" height="50">
                         </a>
                    </div>
                 </div>
           </div>



             </div>
          </div>
     </div>
    </div>
