<div class="mt-4 px-lg-2 px-sm-2 rtl">
     <div class="row">
          <div class="col-12">
             <div class="dx-card responsive-paddings mb-3 job_detail__item">

        <div class=" text-center">
            <img src="../../../assets/images/Cushy_Logo.png" alt="cushy application logo" title="اپلیکیشن کوشی" width="200" height="200">
            <h2>Cushy - کوشی</h2>    
        </div>
        
        <h3>معرفی </h3>
        <p>
            کوشی اپلیکیشنی متفاوت برای تلفن های هوشمند است که با هدف دسترسی سریع و آسان کاربران به خدمات
             ،اماکن و اصناف اطراف خود طراحی شده و روز به روز بر کاربران و اطلاعات آن افزوده می شود.
              کلمه کوشی به معنای کجایی می باشد و این اپلیکیشن با تلاش تیم فنی و ایده پردازی خلاق و
              مجرب پیاده سازی و منتشر شده است. این اپلیکیشن در نسخه آزمایشی منتشر شده است. 
        </p>

        <h3>امکانات</h3>
        <div class="row text-center">
            <div class="col-3">
                 <i class="dx-icon-globe"></i>
                 <h4>مشاهده تمامی مشاغل روی نقشه</h4>
            </div>
            <div class="col-3">
                    <i class="dx-icon-fieldchooser"></i>
                    <h4>دسترسی آسان به آدرس و شماره مقصد</h4>
            </div>
            <div class="col-3">
                    <i class="dx-icon-email"></i>
                    <h4>هر شغل دارای صفحه شخصی می باشد</h4>
               </div>
               <div class="col-3">
                    <i class="dx-icon-email"></i>
                    <h4>جستجوی پیشرفته</h4>
               </div>
               <div class="col-3">
                    <i class="dx-icon-email"></i>
                    <h4>جستجوی سریع خدمات، اماکن و اصناف شهر</h4>
               </div>
               <div class="col-3">
                    <i class="dx-icon-favorites"></i>
                    <h4>رتبه دهی مشاغل</h4>
               </div>
               <div class="col-3">
                    <i class="dx-icon-email"></i>
                    <h4>دارای مسیریابی هوشمند</h4>
               </div>
               <div class="col-3">
                    <i class="dx-icon-email"></i>
                    <h4>---</h4>
               </div>

        </div>
             </div>
          </div>
     </div>
    </div>
