<div class="mt-4 px-lg-2 px-sm-2 rtl">
  <div class="row">
    <div class="col-12">
      <div class="dx-card responsive-paddings mb-3">
        <div class="cushy_download">
          <h3>دانلود</h3>
          <div class="row text-center">
            <div class="col-xs-12 col-sm-12 col-md-12 cushy_download_item">
              <img
                src="../../../assets/images/Cushy_Logo.png"
                alt="برنامه مسیریابی مشاغل کوشی"
                width="64"
                height="64"
              />
              
              <a [href]="fileUrl_GoFile" target="_blank" title="دانلود اپلیکیشن کوشی از گوگل" >
                <h2>
                    <dx-button  [width]="300" [height]="60">
                  دانلود اپلیکیشن کوشی<i
                    class="dx-icon dx-icon-download"
                  ></i>
                </dx-button>
                </h2>
              </a>
              

              <!-- <br><br><br><br><hr>
              <div class="download-img-help">
                   <h4>راهنمای دانلود</h4>
                   <p>اپلیکیشن کوشی روی فضای گوگل آپلود شده است و شما میتوانید از طریق راهنمای زیر آن را دانلود کنید.</p>
                   <img src="../../../assets/images/help/link-google.png" alt="راهنمای دانلود برنامه کوشی" width="800" height="auto">
              </div> -->
            </div>
          </div>
        </div>
        <br /><br /><br />
      </div>
    </div>
  </div>
</div>
