<div class="mt-4 px-lg-2 px-sm-2 rtl">
     <div class="row">
          <div class="col-12">
             <div class="dx-card responsive-paddings mb-3">

                     
          <div class="cushy_download">
               <h3>دانلود</h3>
               <div class="row text-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 cushy_download_item">
                         <img src="../../../assets/images/Cushy_Logo.png" alt="برنامه مسیریابی مشاغل کوشی" width="64" height="64">
                         <a [href]="fileUrl" target="_blank" title="دانلود اپلیکیشن کوشی از گوگل">
                               <h2>دانلود اپلیکیشن کوشی از سرور گوگل<i class="dx-icon dx-icon-download"></i> </h2>
                               
                         </a>    
                    </div>
               </div>
          </div>
          <br><br><br>



             </div>
          </div>
     </div>
    </div>
